*.php linguist-language=PHP
*.js linguist-detectable=true
*.css linguist-detectable=true
*.json linguist-detectable=true
*.html linguist-detectable=true

# Prevent GitHub from classifying service worker as the main project language
service-worker.js linguist-documentation=true
